body {
  text-align: center;       /* Centers inline elements like text and images */
      margin: 0;
      padding: 40px;
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
   }
   
  
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  
 } 

 img {
	  display: block;  	         /* Makes the image a block so margin auto works */
      margin: 20px auto;        /* Centers the image horizontally */
      width: 186px;         /* Keeps image from being too large */
      height: 121;
      border-radius: 8px;
 }

 a {
	 color:white;
	 background-color:transparent;
	 text-decoration:none;
	/* padding:10px;*/
 }

 
  


  
  
 

		 
 
  
 



 