body {
  background-color: #ffffff;
  font-family: Arial, Helve5tica, sans-serif;
  font-size: 24px;
   }
   
  
 
 
  

 a {
	 color:white;
	 background-color:transparent;
	 text-decoration:none;
	/* padding:10px;*/
 }

 
  


  
  
 

		 
 
  
 



 